<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<aside th:fragment="main-navbar" id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/" th:href="@{/}"><img src="/images/logo.png" th:src="@{/images/logo.png}" alt="Logo"></a>
            <a class="navbar-brand hidden" href="/" th:href="@{/}"><img src="/images/logo2.png" th:src="@{/images/logo2.png}" alt="Logo"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/" th:href="@{/}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Role</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-puzzle-piece"></i><a href="/add-role.jsf" th:href="@{/add-role.jsf}">Add Role</a></li>
                        <li><i class="fa fa-id-badge"></i><a href="edit-role.html" th:href="@{/add-role.jsf}">Edit Role</a></li>
                        <li><i class="fa fa-bars"></i><a href="role-list.html">Role list</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Role</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-puzzle-piece"></i><a href="/role/create.jsf" th:href="@{/role/create.jsf}">Add Role</a></li>
                        <li><i class="fa fa-id-badge"></i><a href="/role/list.jsf"  th:href="@{/role/list.jsf}">view Role</a></li>
                        <li><i class="fa fa-bars"></i><a href="role-list.html">Role list</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Meeting</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-puzzle-piece"></i><a href="/meeting/create.jsf" >Add </a></li>
                        <li><i class="fa fa-id-badge"></i><a href="/meeting/list.jsf"  >view List</a></li>
                        <li><i class="fa fa-bars"></i><a href="role-list.html"> update list</a></li>
                    </ul>
                </li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
</body>
</html>